//- homepage.pug
doctype html
html
  head
    title= title
  body
    h1= title
    a(href="/update-cobj") Add to this table
    table
      thead
        tr
          th Name
          th Temperment
          th Collar Coler
          th Vaccine Status
      tbody
        each record in records
          tr
            td= record.properties.name
            td= record.properties.temperment
            td= record.properties.collar_coler
            td= record.properties.vaccine_status
